body{
    background-color: lightsteelblue;
}
h1{
    margin: 100px auto;
    padding: auto 0;
    width: 1000px;
    height: 150px;
    color: #FF5D3B;
    text-align: center;
    font-size: 40px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1:hover{
    color: aquamarine;
    transition: color 1s linear;
}

.projectlink{
    margin: 50px auto;
    background-color: #FF5D3B;
    width: 300px;
    height: auto;
    text-align: center;
    line-height: auto;
    
}
.projectlink a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    color: blanchedalmond;
    text-decoration-line: none;
    display: inline-block;
    margin: 20px auto;
}
#myname p{
    
    width: 150px;
    height: 150px;
    line-height: 150px;
    text-align: center;
    background-color: lightblue;
    color: #FF5D3B;
    border-radius: 50%;
    position: sticky;
    left: 10px;
    top: 300px;

}
#myname p:hover{
    transform: rotate(180deg);
    transition: all 1s linear;
}

.project1 img{
    align-items: center;
    border: 5px blanchedalmond dashed;
    padding: 10px 10px;
}
h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 50px auto;
    padding: 10px 0;
    background-color: #FF5D3B;
    width: 300px;
    height: auto;
    text-align: center;
    line-height: auto;
    color: blanchedalmond;
}
.project1{
    margin: 50px auto;
    padding: 20px 15px;
    text-align: center;
    background-color: #FF5D3B;
    width: 500px;
    position: relative;
    right: -400px;
}
.project1 #project1h2{
    font-size: 35px;
    color: blanchedalmond;
}
.project1 #project1h3{
    font-size: 20px;
    color: blanchedalmond;
}
